!!!
%html
  %head
    %meta{content: "width=device-width", name: "viewport"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Estao
  %body
    %h1 欢迎加入Estao
