default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password:

development:
  <<: *default
  database: est

test:
  <<: *default
  database: est_test

production:
  <<: *default
  database: est
