.entries {
  $entry-gutter: 1.4em;
  $entry-image-padding: 0em;
  $entry-image-width: 4em;
  $entry-image-height: 3em;
  $entry-color: $base-font-color;
  $entry-selected: #E7F1EC;
  $entry-background: $base-background-color;
  $entry-detail-color: transparentize($entry-color, .5);
  $entry-description-color: transparentize($entry-color, .5);
  $entry-image-vert-alignment: top;
  $entry-content-size: $base-font-size;
  $entry-hover-color: transparentize($entry-selected, 0.2);
  margin: 7em auto 3em auto;

  .entry {
    cursor: pointer;
    display: table;
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.7em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-bottom: 1px solid transparentize($entry-color, .8);

    &:hover,
    &.selected {
      background-color: $entry-hover-color;
    }

    .entry-image,
    .entry-right,
    .entry-content {
      display: table-cell;
      vertical-align: $entry-image-vert-alignment;
    }

    .entry-image {
      padding-right: $entry-gutter;
      padding-left: 0.1em;
      float: left;
      width: 10%;
      > img {
        height: $entry-image-height;
        width: $entry-image-width;
        border-radius: $base-border-radius;
        padding: $entry-image-padding;
        background: $entry-background;
        display: block;
        max-width: none;
      }

      .entry-reverse-order & {
        padding-right: 0;
        padding-left: 10px;
      }
    }

    .entry-content {
      width: 80%;
      float: left;
      padding: 0 0.5em;

      h1 {
        font-size: 1em;
        margin-bottom: .5em;
      }

      p {
        margin-bottom: .5em;
      }

      p.entry-description {
        font-size: .7em;
        color: $entry-description-color;

        a {
          color: $entry-description-color;
        }

        .price {
          color: tint(red, 30%);
        }
      }
    }

    .entry-right {
      float: right;
      width: 10%;
      height: 3em;
      text-align: right;
      position: relative;
      h1 {
        position: absolute;
        top: 0;
        font-size: 1em;
        margin-bottom: .5em;
        color: tint(red, 30%);
      }
      p {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: .7em;
        color: $entry-description-color;
        a {
          color: $entry-description-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .detail {
    padding: 1.5em;
    img {
      width: 60%;
      padding: 0.5em;
      margin: 0.5em 0;
      border-radius: $base-border-radius;
      border: 1px solid rgba(51, 51, 51, 0.2);
    }
  }
}
