#entries
  tr
    td
      &.pic
        text-align: center
        width: 15%
        .thumbnail
          padding: 4px
          border: 1px solid #ddd
          border-radius: 4px
          -webkit-transition: all .2s ease-in-out
          -o-transition: all .2s ease-in-out
          transition: all .2s ease-in-out
          img
            max-height: 100px
            max-width: 100%
      &.title
        width: 40%

