.us {
  $us-gutter: 1.4em;
  $us-image-padding: .7em;
  $us-image-width: 6em;
  $us-color: $base-font-color;
  $us-background: $base-background-color;
  $us-detail-color: transparentize($us-color, .2);
  $us-image-vert-alignment: top;

  display: table;
  width: 100%;
  padding: 0.2em 0;
  border-bottom: 1px solid transparentize($us-color, .9);

  .us-image,
  .us-content {
    display: table-cell;
    vertical-align: $us-image-vert-alignment;
  }

  .us-image {
    padding-right: $us-gutter;

    > img {
      width: $us-image-width;
      height: auto;
      border-radius: 50%;
      padding: $us-image-padding;
      background: $us-background;
      display: block;
      max-width: none;
    }

    .us-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .us-content {
    padding: 0.7em 0;
    width: 100%;

    h1 {
      font-size: 1em;
      margin-bottom: .5em;
    }

    p {
      margin: 0;
    }

    p.us-detail {
      font-size: .7em;
      color: $us-detail-color;
    }
  }
}
