.modal
  %input#modal-about.modal-state{type: "checkbox"}
  .modal-window
    .modal-inner.modal-about
      %label.modal-close{data: {for: "modal-about"}}
      %h1 关于二手淘
      %p.body
        %p
          二手淘的目标是成为一个优质二手交易信息的聚合平台. 尽管我们不能创造信息, 但是我们希望能通过我们的努力, 将高质高量的二手信息第一时间带给淘二手的你们!
