%footer.footer-2
  .refills-wrapper
    .footer-logo
      %img{alt: "", src: "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png"}
    %ul
      %li= link_to "About", "#"
      %li= link_to "Contact", "#"

    .footer-secondary-links
      %ul
        %li= link_to "Terms and Conditions", "#"
        %li= link_to "Privacy Policy", "#"
      %ul.footer-social
        %li
          %a{href: "javascript:void(0)"}
            %img{alt: "", src: "https://raw.githubusercontent.com/Magnus-G/Random/master/facebook-logo-circle.png"}/
        %li
          %a{href: "javascript:void(0)"}
            %img{alt: "", src: "https://raw.githubusercontent.com/Magnus-G/Random/master/twitter-logo-circle.png"}/
        %li
          %a{href: "javascript:void(0)"}
            %img{alt: "", src: "https://raw.githubusercontent.com/Magnus-G/Random/master/youtube-logo-circle.png"}/
