%header.navigation
  .menu-wrapper
    -#= link_to "Estao", root_path, class: 'logo'
    .nav
      %ul#navigation-menu-button
        %li.nav-link= link_to "Estao", root_path
    .navigation-tools
      .search-bar
        .search-and-submit
          %input{placeholder: "Email", type: "search"}/
      = link_to "订阅", "#", class: 'sign-up'
