%header.center
  .refills-wrapper
    %h1 Estao
    = form_for User.new, html: { id: 'subscibe' } do |f|
      = f.email_field :email
      = f.submit '订阅'
    .clear
    #notice
      = display_notice_and_alert
