.modal
  %input#modal-keyboard.modal-state{type: "checkbox"}
  .modal-window
    .modal-inner
      %label.modal-close{data: {for: "modal-keyboard"}}
      %h1 快捷键一览:
      %p.intro
      %p.body
        j: 下一个 k: 上一个
