.modal
  %input#modal-special.modal-state{type: "checkbox"}
  .modal-window
    .modal-inner.modal-special
      %label.modal-close{data: {for: "modal-special"}}
      %h1 特别提示:
      %p.intro V2EX提示您:
      %p.body
        %p 各位，当你在 V2EX 上发帖，然后有人找你交易时，请问对方给出他的 V2EX ID，然后，你可以根据以下信息来对这个人是否靠谱做一个基本判断：
        %ul
          %li 他以前发过什么贴
          %li 他的注册时间
          %li 他留下的各种社交网络痕迹，比如 Twitter / 微博 / GitHub / 个人博客等等，越多通常就越靠谱
          %li 最好不要和没有留下任何社交网络痕迹的人交易
          %li 他以前做过什么作品（这里靠谱的人都是有自己自豪的作品的） 
        %p 如果有人因为在 V2EX 上看到消息，然后找你交易，但是这个人却根本没有在 V2EX 注册的话，请提高警惕。 
        %p 如果有人是通过搜索引擎，找到 V2EX 上的信息，然后找你交易的话，这样的交易风险可想而知，所以，通过对方在 V2EX 上的记录来让自己掌握交易方的更多信息，是十分有必要的.

      %p.intro MACX提示您:
      %p.body
        %p 没有留电话的, 序列号不全的, 不发顺丰快递, 不走支付宝的. 弄什么代收快递的. 一律都是骗子. 不要捡便宜上当, 尤其是卖 iPhone 的骗子很多. 我们会尽力筛选, 但是有漏网之鱼请大家多多小心

      %p.intro IMP3提示您:
      %p.body
        %p iMP3交易版是给网友提供发布交易信息的平台，而不是交易场所，交易双方应尽可能地选择相对有保障的交易方式，如通过相对有保障的第三方中介（如支付宝、财付通等），或选择同城交易（货款当面交接）等。对于交易双方发生的交易纠纷，请通过第三方中介（如支付宝、财付通等）维权解决
        %p 网络交易有风险，为尽可能避免被骗，或者产生交易纠纷，请各位网友交易前搜索查看对方曾发布过的交易帖记录！
